# Docker image version (leave empty for latest)
VERSION=1.2.3

# Database configuration
POSTGRES_PASSWORD=your_strong_password

# RSS configuration
RSS_URL=https://torgi.gov.ru/new/api/public/lotcards/rss?lotStatus=PUBLISHED,APPLICATIONS_SUBMISSION&catCode=2&byFirstVersion=true

# Collector configuration
COLLECTOR_SCHEDULE_INTERVAL=15m
COLLECTOR_RETRY_INTERVAL=1h

# Web server configuration
WEB_PORT=8080
LOG_LEVEL=info